:root {
    --custom-color-1: #ff5733;
    --custom-color-2: #57e4ff;
    --custom-color-3: #1d3263;
    --custom-color-4: #442063;
    font-family: 'Quicksand', sans-serif;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  section {
    padding: 2rem;
    min-height: 30vh;
  }
  
  
  p {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
  }